---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<section class="min-h-screen flex flex-col justify-center items-center text-center px-6 pt-10 pb-10">
    <div class="max-w-2xl">
      <h1 class="text-4xl font-serif text-oliva mb-6">Gracias por tu mensaje</h1>
      <p class="text-lg text-gray-700 mb-6">
        Hemos recibido tu consulta y nos pondremos en contacto a la brevedad.
      </p>

      <p class="text-md text-gray-600 mb-6">
        Si tu consulta es urgente, podés comunicarte directamente por WhatsApp. Nuestro horario de atención es <strong>todos los días de 8 a 21 hs</strong>.
      </p>

      <div class="mt-12 text-sm italic text-gray-500">
        "Aunque ya no estén con nosotros, la ternura y la memoria los transforman en algo eterno."
      </div>
    </div>
  </section>
</Layout>
