<footer class="bg-[#6D8B74] text-white py-4">
	<div class="max-w-6xl mx-auto px-4 text-center">
	  <p class="text-sm font-serif">
		Copyright © 2024 Todos los derechos reservados.
	  </p>
	</div>
  </footer>
  