---
import Logo from "../assets/images/infinitos-logo2.png"; // ruta relativa
---

<div class="logo-container">
	<img src={Logo.src} alt="Logo Infinitos" class="h-18 max-h-20 w-auto object-contain" />
</div>
