---
import Logo from "../assets/images/Infinitos - Logo-marron-new2.png"; // ruta relativa
---

<div class="logo-container h-full flex items-center">
	<img src={Logo.src} alt="Logo Infinitos" class="h-full max-h-20 w-auto object-contain rounded-2xl" />
</div>
